@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Prompt|Roboto');

html,
body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-bottom: 36px;
}

i {
  margin-left: 221px;
}

ul {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 36px;
  padding: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

li {
  list-style: none;
  margin-right: 6px;
  color: dodgerblue;
}

a {
  text-decoration: none;
  padding: 6px;
  color: dodgerblue;
}


form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.newFriend {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
}

input, textarea {
  width: 200px;
  padding: 15px 22px;
  margin: 10px 5px;
  box-sizing: border-box;  
  border: 1px solid #4facfe;
  border-radius: 4px;
}
button {
  background: #00f2fe;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  padding: 10px 15px;
  font-size: 16px;
  color: #191919;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.12), 0 2px 2px 1px rgba(0, 0, 0, 0.24);
  transition: all 0.2 ease-in;
  border: none;
  cursor: pointer;
  width: 200px;
}
button:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.12), 0 2px 3px 2px rgba(0, 0, 0, 0.24);
}

.newFriendButton {
  height: 49px;
  margin-left: 10px;
}

label {
  margin-bottom: -12px;
  text-align: left;
  width: 200px;
}

.members {
  display: flex;
  flex-wrap: wrap;
}
.person {
  background: #00f2fe;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 5px 2px rgba(0, 0, 0, 0.24);
  width: 100%;
  max-width: 250px;
  padding: 10px;
  margin: 16px auto;
  text-align: center;
}